.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.self-align-center{
    left: 50%;
    transform: translate(-50%);
    position: relative;
}

.self-align-end{
    left: 100%;
    transform: translate(-100%);
    position: relative;
}