.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.self-center-x{
    left: 50%;
    transform: translate(-50%);
    position: relative;
}

.self-align-end{
    left: 100%;
    transform: translate(-100%);
    position: relative;
}
